body {
    background-color: rgb(22, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
}
    h1 {
        text-align: center;
        color: rgb(255, 255, 255);
        text-size-adjust: 90px;
    }
    h2 {
        text-align: center;
        color: white;
        text-size-adjust: 30px;
    }
    .branco {
        color: white;
    }
    img {
        
        border-radius: 10px;
    }
    header {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%; /*largura*/
        background-color: black;
        box-shadow: 0px 30px 30px #000000;
        box-sizing: border-box;
    }
    header nav {
        margin-top: 30px;
    }
    header nav a {
        text-decoration: none;
        margin: 15px;
    }
    header nav a:hover {
        color: rgb(67, 67, 67);
    }
    section {
        text-align: center;
        width: 100%;   
    }
    .img100 {
        width: 100%;
    }
    .img60 {
        width: 60%;
    }
    .img40 {
        width: 40%;
    }

    a{
        text-decoration: none;
        font-size: 25px;
        text-align: center;
    
    }
    div2{
        font-size: 20;
        text-align: center;
    }
    p{
        font-size: 20px;
    }
    div1{
        text-align: center;
    }

    div3{
        text-align: center;
    }